#root {
   display: flex;
}

.Sudoku {
   display: flex;
   margin: 0 auto;
}

.Sudoku__Cell {
   width: 20px;
   height: 20px;
   display: inline-block;
   text-align: center;
   outline: 1px solid rgba(0, 0, 0, 0.2);
}

.Sudoku__SmallGrid {
   width: 60px;
   height: 60px;
   display: flex;
   flex-wrap: wrap;
   outline: 1px solid black;
}

.Sudoku__MainGrid {
   width: 180px;
   height: 180px;
   display: flex;
   flex-wrap: wrap;
}
